.container {
  margin: 0 auto;
  width: 85%;
  background-color: #F6F6EF;
}
th {
  text-align: left;
}

header{
  font-family: 'Archivo Black', sans-serif;
  color: white;
  padding-top: .1em;
  padding-bottom: .3em;
  display: block;
  margin: 0 auto;
  width: 85%;
  background-color: #B6CD29;
}

.user{
  display: inline-block;
  float: right;
  margin-right: 5%;
}

.footer_rule{
  width: 85%;
  height: .2em;
  background-color:  #B6CD29;
}

.news_list_item{
  padding-top: .4em;
}

.news_title{
  color: #361300;
}

.news_title a{
  color: #999691;
}

.signup_form{
  display: block;
  width: 85%;
  margin: auto;
}
.labels{
  margin-top: .5em;
}
#signup {
  text-decoration: none;
  color: white;
}
