<form action="/users" method="post" class="signup_form">
  <div class="labels">User Name</div>
  <input type="text" name="user[username]" placeholder="username">

  <div class="labels">Email</div>
  <input type="text" name="user[email]" placeholder="email">

  <div class="labels">Password</div>
  <input type="password" name="user[password]" placeholder="password">

  <div class="labels">Confirm Password</div>
  <input type="password" name="user[password_confirmation]" placeholder="password confirmation">
</form>
