<div class="container">

<form action="/posts" method="post" class="signup_form">
  <div class="labels">Title</div>
  <input type="text" name="post[title]" placeholder="Title">

  <div class="labels">Description</div>
  <textarea type="text" name="post[content]" placeholder="Tell us about how cool this is" rows="4" cols="30"></textarea>

  <div class="labels">Url</div>
  <input type="text" name="post[url]" placeholder="password">

  <input type="submit">
</form>

</div>
