<div class="container">

  <div class="news_list_item">
    <span class="news_number">13.</span>
    <span class="news_title"><a href="/">Turns out the United States spies on People.</a>  Weird</span>
  </div>
  <div class="news_list_item">
    <span class="news_number">13.</span>
    <span class="news_title"><a href="/">Turns out the United States spies on People.</a>  Weird</span>
  </div>
  <div class="news_list_item">
    <span class="news_number">13.</span>
    <span class="news_title"><a href="/">Turns out the United States spies on People.</a>  Weird</span>
  </div>


</div>
